body {
    display: flex;
    align-items: flex-start;
}

#controls {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(200, 200, 200);
    font-size: x-large;
}

.control {
    padding: 10px;
}

.control:hover{
    background-color: rgb(200, 200, 200);
    color: whitesmoke;
}

#grid {
    width: 460px;
    height: 460px;
    display: flex;
    flex-wrap: wrap;
    outline: 2px solid;
    outline-color: rgb(235, 231, 231);
}

#cell {
    height: 10px;
    width: 10px;
    /*outline: 1px solid;
    outline-color: rgb(235, 231, 231); */
}

#cell23{
    height: 20px;
    width: 20px; 
}


